<div class="row">
  <h1>Sign In</h1>
</div>

<div class="row">
  <%= form_for(:session, url: sign_in_path) do |f| %>
    <div class="form-group">
    	<%= f.label :username %>
    	<%= f.text_field :name, class: "form-control" %>
    	<%= f.label :password %>
    	<%= f.password_field :password, class: "form-control" %>
    </div>
  	<%= f.submit "Sign In", class: ["btn", "btn-primary"] %>
  <% end %>
</div>

<div class="row">
  <p>Or, <%= link_to "Sign up?", sign_up_path %></p>
</div>
