<h1>Sign up</h1>

<% if @user.errors.any? %>
  <p>Fix the following error(s)</p>
  <ul>
  <% @user.errors.full_messages.each do |error_message| %>
    <li><%= error_message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@user) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign Up" %>
<% end %>
